@import 'styles/variables';

.home {
    display: flex;
    flex-direction: column;
    padding: 16px;
    &-header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        img {
            max-width: 250px;
            width: 100%;
        }
    }
    &-list {
        margin-top: 26px;
        display: flex;
        flex-flow: wrap;
        &__product-card {
            width: calc(100% / 4 - 16px);
            @media screen and (max-width: 1024px) {
                width: calc(100% / 3 - 16px);
            }
            @media screen and (max-width: 768px) {
                width: calc(100% / 2 - 16px);
            }
            @media screen and (max-width: 480px) {
                width: 100%
            }
        }
    }
}