@import './variables';
@import './partials/typography';

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $white;
    color: $black;
    font-size: $default-fsize;
}