$white: #fff;
$black: #000;
$black-1: #252525;
$red: #b92f2f;
$grey: #7e7e7e;
$grey-1: #cccccc;

$default-fsize: 14px;
$h1-fsize: 32px;
$h2-fsize: 30px;
$h3-fsize: 28px;
$h4-fsize: 24px;
$h5-fsize: 18px;
$h6-fsize: 16px;

$small-breakpoint: 767px;